body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #eae3c6;
}
/* add to cart button custom style  */
.common-btn-style{
  background-color: #fff;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 3px;
  margin: 0 1rem;
}
.add-to-cart-btn{
  color: black;
  border: 2px solid #555555;
}
.add-to-cart-btn:hover{
  background-color: #555555;
  color: white;
  transition: .4s;
}
/* details button custom style  */
.details-btn {
  color: black; 
  border: 2px solid #4CAF50;
  padding: 5px 25px;
  transition: .4s;
}
.details-btn:hover {
  background-color: #4CAF50;
  color: white;
}
/* buy now button style  */
.buy-btn{
  border: 2px solid tomato;
}
.buy-btn:hover{
  background-color: tomato;
  color: #fff;
}

/* rating style  */
#star-icon{
  color: orange;
  font-size: 13px;
}
.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 50%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 100%; height: 6px; background-color: #04AA6D;}
.bar-4 {width: 80%; height: 6px; background-color: #2196F3;}
.bar-3 {width: 60%; height: 6px; background-color: #00bcd4;}
.bar-2 {width: 40%; height: 6px; background-color: #ff9800;}
.bar-1 {width: 20%; height: 6px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  border: 1px solid #ddd;
  background-color: #ffffff;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid rgb(213, 228, 228);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  padding: 10px;
  background-color: #f6efc4;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 2px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 100%;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
